body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #1c1c1e, #3c3c3e);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    background-color: #2c2c2e;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.7);
    padding: 40px;
    text-align: center;
    width: 90%;
    height: 300px;
    max-width: 400px;
    position: relative;
    border: 1px solid #444;
}

.metamask-heading {
    font-size: 24px; /* Heading size */
    color: #c389e7; /* MetaMask theme color */
    margin-bottom: 130px; /* Space below the heading */
}

.logo-container {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.metamask-logo,
.polygon-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 70px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.polygon-logo {
    opacity: 0; 
    transform: scale(0);
}

.loading {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 5px solid transparent;
    border-top: 5px solid #A020F0; 
    border-radius: 50%;
    animation: square-spin 0.9s linear infinite; /* Loading animation */
    z-index: 0; /* Adjust z-index */
    display: none; /* Initially hidden */
    margin-top: 70px;
}

@keyframes square-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.connect-text {
    font-size: 20px;
    font-weight: bold;
    color: #f5f5f5;
    margin-top: 50px;
    margin-bottom: 10px;
}

.instruction-text {
    font-size: 14px;
    color: #b0b0b0;
    margin-bottom: 20px;
    margin-top: 1px;
    
}

.try-again-btn {
    background: linear-gradient(45deg, #6a0dad, #4b0082); /* Dark purple gradient for button */
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
 
    transition: background 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.try-again-btn:hover {
    background: linear-gradient(45deg, #4b0082, #3d007a); /* Darker purple gradient on hover */
    transform: scale(1.05); /* Slight scale effect on hover */
}

