body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a0a0d; 
    font-family: 'Roboto', sans-serif; 
}

.card {
    background-color: #1c1c2a; 
    border-radius: 15px; 
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.8); 
    padding: 30px;
    text-align: center;
    width: 320px;
    position: relative;
    border: 1px solid #4b4b67; 
    transition: box-shadow 0.3s ease; 
}
.card:hover {
    box-shadow: 0 0 20px rgba(106, 90, 205, 0.7), 0 0 40px rgba(106, 90, 205, 0.5); /* Glow effect on hover */
}


.heading {
    font-size: 26px;
    color: #e4c4f1; 
    margin-bottom: 20px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}

.logo-container {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.metamask-logo {
    width: 100px; 
    height: 100px; 
    z-index: 2; 
}

.loader {
    width: 120px; 
    height: 120px; 
    border: 10px solid rgba(255, 255, 255, 0.3); 
    border-top: 10px solid #6a5acd; 
    border-radius: 50%; 
    position: absolute; 
    animation: spin 1.5s linear infinite; 
    visibility: hidden; 
    opacity: 0; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    transition: opacity 0.3s ease; 
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg); 
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.loading {
    visibility: visible; 
    opacity: 1; 
}

.connect-text {
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5; 
    margin-bottom: 10px;
}

.instruction-text {
    font-size: 14px;
    color: #b0b0b0; 
    margin-bottom: 20px;
}

.try-again-btn {
    background: linear-gradient(145deg, #4b0082, #6a5acd);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.2s ease; 
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); 
}

.try-again-btn:hover {
    transform: scale(1.05); /* Slight scaling effect */
    background: linear-gradient(145deg, #6a5acd, #4b0082); /* Reversed gradient for hover */
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.5); /* Deeper shadow on hover */
}
